<% include partials/header.ejs %>

<h1> Jugador </h1>

<ul>
    <li>Name = <%= player.name%></li>
    <li>Birth date = <%= player.birthdate%></li>
    <li>Nationality = <%= player.nationality%></li>
    <li>TeamID = <%= player.teamId%></li>
    <li>position = <%= player.position%></li>
    <li>number = <%=player.number%></li>
    <li>LeagueID = <%= player.leagueId%></li>
</ul>
<br>
<br>
<a href="/admin">Volver al panel de administración</a>
<% include partials/footer.ejs %>